@font-face{
	font-family: "Botones";
    src: url("../fuentes/Cinzel-Regular.ttf");
} 

@font-face{
	font-family: "Titulo";
    src: url("../fuentes/PressStart2P-Regular.ttf");
}

/**Fondo**/
.body{
  background-color: #87CEEB;
}


/**Centrado de los elementos **/
.title {
  text-align: center;
}

.moneyText, .moneyNumber {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.zona_juego {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.izq{
  width: 20%;
  height: 670px;
  border: 2px solid #333;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  grid-template-rows: repeat(3, 1fr);
}

.factory, .bank, .autoClick{
  width: 100%;
  text-align: center;
}

.autoClick, .factory, .bank{
  padding-bottom: 15px;
  width: 250px;
  font-family: "Titulo";
}

.autoClick, .factory{
  border-bottom: 2px solid #333;
}


.centro{
  display: flex;
  justify-content: center;
  width: 60%;
}

.der {
  width: 20%;
  height: 670px;
  border: 2px solid #333;
  display: grid;  
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  grid-template-rows: repeat(5, 1fr);
}

.autoClic, .addFactory, .addBank, .duplicarClics, .duplicarTrabajo, .nightMode{
  font-family: "Botones";
  font-size: 25px;
  width: 250px;
  text-align: center;
  background-color: #041A40;
  color:white;
  border-radius: 20px;
}

.autoClic:active,
.addFactory:active,
.addBank:active,
.duplicarClics:active,
.duplicarTrabajo:active,
.nightMode:active {
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.cost-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.autoClicCost, .factoryCost, .bankCost, .euro{
  font-family: "Titulo";
  margin: 0;
}

.cooldownClics, .cooldownTrabajo{
  font-family: "Titulo";
  font-size: 25px;
  text-align: center;
}

.duplicate{
  padding-top: 10px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

/**Titulo**/
.title {
  font-family: "Titulo";
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}


/**Dinero**/
.moneyText, .moneyNumber {
  font-family: "Titulo";
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/**Boton Central**/
.coin-btn {
  background: none;
  border: 2px solid #333;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  line-height: 0; 
  display: block;      
  margin: 0 auto;       
  border-radius: 20px;
  padding: 0 200px;
}

.coin-btn:active{
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.ascii-coin {
  font-family: "Courier New", Consolas, monospace; 
  white-space: pre;      
  line-height: 1;         
  letter-spacing: 0;
  transform-origin: top left;
  margin: 0;
  /*color: gold;*/
  user-select: none;      
  text-align: left;
}