@font-face{
	font-family: "Botones";
    src: url("../fuentes/Cinzel-Regular.ttf");
} 

@font-face{
	font-family: "Titulo";
    src: url("../fuentes/PressStart2P-Regular.ttf");
}

/**Fondo**/
.body{
  background-color: #87CEEB;
}


/**Centrado de los elementos **/
.title {
  text-align: center;
}

.moneyText, .moneyNumber {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.zona_juego {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.izq{
  width: 20%;
  height: 670px;
  border: 2px solid #333;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  grid-template-rows: repeat(3, 1fr);
}

.fabrics, .bank, .autoClick{
  width: 100%;
  text-align: center;
}

.autoClick, .fabrics, .bank{
  padding-bottom: 15px;  
  width: 250px;
  font-family: "Titulo";
}

.autoClick, .fabrics{
  border-bottom: 2px solid #333;
}


.centro{
  display: flex;
  justify-content: center;
  width: 60%;
}

.der {
  width: 20%;
  height: 670px;
  border: 2px solid #333;
  display: grid;  
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  grid-template-rows: repeat(5, 1fr);
}

.autoClic, .addFactory, .addBank, .duplicarClics, .duplicarTrabajo, .nightMode{
  font-family: "Botones";
  font-size: 25px;
  width: 250px;
  text-align: center;
  background-color: #041A40;
  color:white;
  border-radius: 20px;
}

.autoClic:active,
.addFactory:active,
.addBank:active,
.duplicarClics:active,
.duplicarTrabajo:active,
.nightMode:active {
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.cooldownClics, .cooldownTrabajo{
  font-family: "Titulo";
  font-size: 25px;
  text-align: center;
}

/**Titulo**/
.title {
  font-family: "Titulo";
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}


/**Dinero**/
.moneyText, .moneyNumber {
  font-family: "Titulo";
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/**Boton Central**/
.coin-btn {
  background: none;
  border: 2px solid #333;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  line-height: 0; /* evita que el <pre> añada espacio extra alrededor */
  display: block;      /* para que margin:auto funcione */
  margin: 0 auto;       /* centra el botón entero en la página */
  border-radius: 20px;
  padding: 0 200px; /* 0 arriba/abajo, 60px izquierda-derecha */
}

.coin-btn:active{
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.ascii-coin {
  font-family: "Courier New", Consolas, monospace; /* monoespaciada, imprescindible */
  white-space: pre;      /* respeta espacios y saltos de línea tal cual */
  line-height: 1;         /* que las líneas no se separen de más */
  letter-spacing: 0;
  transform-origin: top left;
  margin: 0;
  /*color: gold;*/
  user-select: none;      /* que no se pueda seleccionar el texto al hacer clic */
  text-align: left;
}